[user]
	email = shinse.tanaka@gmail.com
	name = sizer
[push]
	default = simple
[core]
	editor = vim
	excludesfile = 
[color]
	ui = auto
[alias]
	co = checkout
	st = status
	br = branch
	his = log --oneline --decorate --graph --branches --tags --remotes
  hisd = log --oneline --decorate --graph --branches --tags --remotes --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%n'

[ghq]
	root = ~/go/src
[fetch]
	prune = true
